.table-container {
  border-collapse: collapse;
  min-width: 1277.75px;
  overflow-x: auto; /* nao funciona essa merda */
}

.table-header tr {
  background-color: rgba(46, 48, 53, 0.73);
  height: 70px;
}

.table-header th {
  padding: 10px;
}

.table-body td {
  border-bottom: 1px solid rgb(174, 174, 174);
  padding: 5px;
  text-align: center;
}
